@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;

  transition: 200ms;
}

/* Commom */
.white-text {
  color: #fff !important;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
  /* margin-bottom: 8px; */
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding: 0px 8px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.border {
  border: 1px solid #ccc;
}

[class*="-btn"] {
  cursor: pointer;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chứ, hình tròn,...)
 */

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', 'Times New Roman';
}

#main {
  display: block;
}

#header {
  height: 46.5px;
  background-color: #000;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

#nav {
  & li {
    display: inline-block;
    color: #fff;
    position: relative;

    & a {
      text-decoration: none;
      line-height: 46.5px;
      display: inline-block;
      padding: 0px 24px;
    }

    &:hover {
      &>a {
        color: #000;
        background-color: #ccc;
      }

      &>ul {
        display: block;
      }
    }
  }

  &>li {
    &>a {
      color: inherit;
      text-transform: uppercase;
    }
  }

  & .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    box-shadow: 0 0 5px #00000033;

    & li {
      display: block;
      position: relative;
      background-color: #fff;
    }

    & a {
      width: 100%;
      color: #000;
      min-width: 160px;
      padding: 0 16px;
      line-height: 38.5px;
    }
  }

  & .nav-arrow-down {
    font-size: 14px;
  }
}

#header {
  & .search-btn {
    float: right;
    color: #fff;

    &:hover {
      background-color: #f44336;
    }
  }

  & .search-icon {
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 21px;
  }
}

#slider {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url(../imgs/chicago.jpg) top center / cover no-repeat;
  position: relative;

  & .text-heading {
    text-align: center;
    padding: 10px 0;
  }

  & .text-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    padding: 32px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .text-description {
    text-align: center;
    padding: 15px 0;
  }
}

#content {
  & .section-content {
    width: 800px;
    max-width: calc(100% - 32px);
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
  }

  & .section-heading {
    font-size: 30px;
    margin: 10px auto;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 45px;
  }

  & .section-sub-heading {
    margin: 15px auto;
    font-style: italic;
    opacity: 0.5;
    line-height: 22.5px;
  }

  & .section-heading,
  & .section-sub-heading {
    text-align: center;
  }

  & .about-text {
    text-align: justify;
    line-height: 1.5;
    margin: 15px 0px;
    font-size: 15px;
  }
}

.list-member {
  padding-top: 32px;
  padding-bottom: 46px;

  & .member-name {
    font-size: 15px;
    margin: 15px 0;
  }

  & img {
    max-width: 153.5px;
    border-radius: 4px;
  }
}

#section-tour {
  background-color: #000;

  & .list-ticket {
    list-style-type: none;
    background-color: #fff;
    display: block;

    & li.item-ticket {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 15px;
      border: 1px solid #ccc;
      border-top: 0px;
      padding: 0 16px;
      height: 40px;
      color: #757575;
      line-height: 22.5px;
      margin-top: -1px;

      &:first-child {
        border-top: 1px solid #ccc;
      }
    }

    & .sold-out {
      padding: 2px 8px;
      background-color: #f44336;
    }

    & .quatity {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background-color: #000;
      color: #fff;
      text-align: center;
      line-height: 24px;
    }
  }

  & .list-place {
    padding: 32px 0px;
  }

  & .item-place {
    font-size: 15px;
    margin: 0 0 16px;

    & img {
      width: 100%;
      display: block;
    }

    &:hover {
      & img {
        scale: 1.1;
        opacity: 0.6;
      }
    }

    & .place-content {
      padding: 0.15px 16px;
      background: #fff;

      & .place-heading {
        margin: 15px 0px;
        font-size: inherit;
        font-weight: 450;
      }

      & .place-time {
        margin: 15px 0px;
        opacity: 0.6;
      }

      & .place-description {
        margin: 15px 0px;
        line-height: 1.4;
      }

      & .buy-btn {
        margin: 0px 0px 16px;
        display: inline-block;
        padding: 12px 19px;
        background-color: #000;
        text-decoration: none;

        &:hover {
          background: #ccc;
          color: #000 !important;
        }
      }
    }
  }
}

.section-content {
  & .section-body {
    padding: 32px 0px;

    & i {
      width: 30px;
      height: 18px;
      display: inline-block;
    }

    & p {
      line-height: 1.5;
      font-size: 18px;
    }
  }
}

.section-body-input {
  padding: 8px;
  font-size: 15px;
}

#form-contact {
  position: relative;

  & .form-control {
    width: 100%;
    font-size: 15px;
    padding: 10px;
  }
}

#form-contact {
  position: relative;

  & .form-control {
    width: 100%;
    font-size: 15px;
    padding: 10px;
  }
}

#form-contact-btn-send {
  float: right;
  margin: 16px 0px;
  padding: 11px 15px;
  font-size: 15px;
  background: #000;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: #ccc;
    color: #000;
  }
}

#section-map {
  width: 100%;
  height: auto;

  & img {
    width: 100%;
    filter: grayscale(50%);
  }
}

#footer {
  padding: 64px 0;
}

#footer-icons {
  text-align: center;

  & a {
    text-decoration: none;
    font-size: 24px;
    color: #333;

    &:hover {
      color: #ccc;
    }
  }
}

#footer-copyright {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  margin: 15px 0;
}

.modal {
  position: fixed;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
  font-size: 15px;
  display: none;

  &.open {
    display: block;
  }
}

.modal-container {
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  margin: 100px auto 0;
  position: relative;
  animation: modalFadeIn 0.4s;
}

.modal-header-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    background-color: #ccc;
    color: #000;
    opacity: 1;
  }
}

.modal-header {
  background: #009688;
  height: 129px;
  text-align: center;
  line-height: 129px;
  font-size: 30px;
  color: #fff;
}

.modal-header-icon {
  margin-right: 16px;
}

.modal-body {
  padding: 0px 16px;
}

.modal-label {
  margin: 25px 0px 15px;
  display: block;
}

.modal-input {
  display: block;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  height: 40.5px;
}

#buy-ticket-btn {
  margin: 16px 0px;
  padding: 19px;
  width: 100%;
  font-weight: 500;
  background: #009688;
  color: #fff;
  font-size: inherit;
  cursor: pointer;

  &:hover {
    background: #ccc;
    color: #000;
  }
}

.modal-footer {
  padding: 0 16px;
}

.modal-footer-close {
  float: left;
  margin: 16px 8px;
  padding: 8px 16px;
  background: #f44336;
  cursor: pointer;
}

.modal-help {
  float: right;
  margin: 15px 8px;
}

.modal-help a {
  color: #2196f3;
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-80px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  #nav {
    display: inline-block;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #nav {
    display: inline-block;
  }

  .buy-btn {
    width: 100%;
  }

  #form-contact-btn-send {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #header {
    overflow: hidden;
  }

  #nav {
    display: inline-flex;
    flex-direction: column;
    background: black;

    width: 100%;

    & * {
      width: 100%;
    }
  }

  .mobile {
    display: block;
  }

  .list-member {
    display: flex;
    flex-direction: column;

    & .item-member {
      width: 100%;
      margin: 0px 0px 16px;

      & img {
        width: 100%;
      }
    }
  }

  .list-place {
    display: flex;
    flex-direction: column;

    & .item-place {
      width: 100%;
      margin: 0px 0px 16px;
    }
  }

  .buy-btn {
    width: 100%;
  }

  #form-contact-btn-send {
    width: 100%;
  }

  #CONTACT {
    & .section-body {
      display: flex;
      flex-direction: column;

      & .col-2 {
        width: 100%;
      }
    }
  }

  #form-contact {
    display: flex;
    flex-direction: column;

    margin-top: 16px;

    & .row:first-child {
      & .col-2:not(:first-child) {
        margin-top: 16px;
      }
    }
  }
}